.details{
    padding: 2em;
    text-align: center;
    width: 100%;
}

.details h1,
.details p {
    margin-bottom: 0.5em;
}

.details h1 {
    background-color: #222;
    border-radius: 4px;
    color: #ffbb33;
    padding: 0.6em;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.192);
    border-radius: 3px;
    margin-bottom: 20px;
}

.details p {
    font-size: 18px;
}

.details span {
    font-weight: bolder;
}