.projectDetails{
    padding: 2em;
}

.projectDetails h1,
.projectDetails h2,
.projectDetails p {
    margin-bottom: 0.5em;
}

.projectDetails h1 {
    background-color: #222;
    border-radius: 4px;
    color: #ffbb33;
    padding: 0.4em;
}

.projectDetails span{
    font-weight: bold;
}

.serviceFormContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.5em;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 4px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.342);
    cursor: pointer;
    max-height: 50px;
    border: none;
}

.button:hover{
    color: #ffbb33;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.753);
}

.form{
    width: 100%;
    border-bottom: 1px solid #7a7a7a;
    padding-bottom: 1.2em;
    margin-bottom: 1.2rem;
    
}